run = "bash ./replit-setup.sh"
entrypoint = "index.js"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-20"]

[env]
POSTGRES_PASSWORD = "postgres"
DATABASE_URL = "postgresql://postgres:postgres@localhost:5432/taxadviser"

[nix]
channel = "stable-22_11"

[deployment]
build = ["sh", "-c", "cd backend && npm install && npm run build"]
run = ["sh", "-c", "node backend/dist/main"]
deploymentTarget = "cloudrun"

[[ports]]
number = 3000
protocol = "http"
externalPort = 80

[languages]
[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[unitTest]
language = "nodejs"
