run = "bash ./replit-setup.sh"
entrypoint = "frontend/index.js"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-20"]

[env]
POSTGRES_PASSWORD = "postgres"
DATABASE_URL = "postgresql://postgres:postgres@localhost:5432/taxadviser"

[nix]
channel = "stable-22_11"
packages = ["openssl", "openssl_3", "openssl_1_1"]

[deployment]
run = ["sh", "-c", "cd frontend && node server.js"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "cd frontend && npm install && npm run build"]

[languages]
[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[unitTest]
language = "nodejs"

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Frontend Dev"

[[workflows.workflow]]
name = "Frontend Dev"
author = 36293822
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
